<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hisedu.project.jiaofei.mapper.TabJiaofeiMapper">
    
    <resultMap type="TabJiaofei" id="TabJiaofeiResult">
        <result property="id"            column="id"    />
        <result property="registerid"    column="registerId"    />
        <result property="name"          column="name"    />
        <result property="idcard"        column="idcard"    />
        <result property="jcxmids"       column="jcxmIds"    />
        <result property="jcxmname"      column="jcxmName"    />
        <result property="jcxmnum"       column="jcxmNum"    />
        <result property="price"         column="price"    />
        <result property="addtime"       column="addtime"    />
        <result property="status"        column="status"    />
    </resultMap>
    
    <sql id="selectTabJiaofeiVo">
        select * from tab_jiaofei
    </sql>
    
    
    <select id="selectTabJiaofeiList" parameterType="TabJiaofei" resultMap="TabJiaofeiResult">
        <include refid="selectTabJiaofeiVo"/>
    </select>
    
    
    <insert id="insertTabJiaofei" parameterType="TabJiaofei" useGeneratedKeys="true" keyProperty="id">
        insert into tab_jiaofei
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="registerid != null">registerId,</if>
            <if test="name != null">name,</if>
            <if test="idcard != null">idcard,</if>
            <if test="jcxmids != null">jcxmIds,</if>
            <if test="jcxmname != null">jcxmName,</if>
            <if test="jcxmnum != null">jcxmNum,</if>
            <if test="price != null">price,</if>
            <if test="addtime != null">addtime,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="registerid != null">#{registerid},</if>
            <if test="name != null">#{name},</if>
            <if test="idcard != null">#{idcard},</if>
            <if test="jcxmids != null">#{jcxmids},</if>
            <if test="jcxmname != null">#{jcxmname},</if>
            <if test="jcxmnum != null">#{jcxmnum},</if>
            <if test="price != null">#{price},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>
    
    
    <delete id="deleteTabJiaofeiById" parameterType="Long">
    	delete from tab_jiaofei where id=#{id}
    </delete>
    
    
    <update id="updateTabJiaofei" parameterType="TabJiaofei">
        update tab_jiaofei
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null  and status != ''">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>
</mapper>